repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        args: [--line-length=88]

  - repo: local
    hooks:
      - id: check-import-time
        name: Check import time < 0.4s
        entry: python .githooks/pre-commit
        language: system
        pass_filenames: false
        always_run: true
