[tool.poetry]
name = "speedy-utils"
version = "0.1.23"
description = "Fast and easy-to-use package for data science"
authors = ["AnhVTH <anhvth.226@gmail.com>"]
readme = "README.md"
homepage = "https://github.com/anhvth/speedy"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.dependencies]
python = ">=3.9"
numpy = "*"
requests = "*"
xxhash = "*"
loguru = "*"
fastcore = "*"
debugpy = "*"
ipywidgets = "*"
jupyterlab = "*"
ipdb = "*"
scikit-learn = "*"
matplotlib = "*"
pandas = "*"
tabulate = "*"
pydantic = "*"
tqdm = "*"
cachetools = "*"
bump2version = "*"
json-repair = "*"
fastprogress = "*"

[tool.poetry.scripts]
mpython = "speedy_utils.scripts.mpython:main"