

[tool.poetry]
name = "speedy-utils"
version = "0.0.2"
description = "Fast and easy-to-use package for data science"
authors = ["AnhVTH <anhvth.226@gmail.com>"]
readme = "README.md"
homepage = "https://github.com/anhvth/speedy"


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
